ac-comphist.dat
ido.last
*.elc
projectile-bookmarks.eld
recentf
smex-items
url/*
var/*
.cask
.edbi-ds-history
.emacs.desktop
elpa
.cache
.lsp-session-v1
doom-emacs/
eclipse.jdt.ls/
init.el-with-mulitiple-copies-of-custom-set-variables
profile-dotemacs.el
site-lisp/prettier-emacs/
smex-items*
transient/
workspace/
.dap-breakpoints
.mc-lists.el
org-persist
etc
.DS_Store
*.~undo-tree~
*~
.claude/
tramp
